<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>facebook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31BFB45E1FD47CC80078FDAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31BFB4721FD47CC90078FDAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31BFB47D1FD47CC90078FDAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
